:root {
--modal-font-color: #f4f4f4;
}

body {
	font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 0;
}

#map-container {
	height: 100vh;
	padding: 0;
	margin: 0;
}

#map {
	height: 100%;
	width: 100%;
}

.modal-dialog {
	height: auto;
	width: 800px;
}

#send {
	cursor: pointer
}

.ui-dialog {
	z-index: 9999;
}

.ui-widget-overlay {
    opacity: .8!important;
}

#instructions {
    float: right;
    z-index: 9997;
    position: absolute;
    width: 250px;
    top: 25px;
    right: 25px;
    padding: 10px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: 2px 2px rgb(0 0 0 / 25%);
    user-select: none;
    max-height: calc(100vh - 70px);
    overflow: auto;
}

#donate {
	float: left;
    margin-top: 8px;
    color: red;
}

#road-parameters {
	text-align: end;
    padding-top: 32px;
}

#road-parameters label {
    display: inline-block;
    text-align: right;
}

#road-parameters input[type=number], #road-parameters input[type=text], #road-parameters select {
    text-align: right;
    margin-right: 0;
}

#road-parameters input[type=number] {
	width: 43px;
	padding: 0px;
}

#toggleForm {
	float: right;
    margin-top: 8px;
}

#custom-inputs {
	display: none;
}

.tooltip-mark {
	cursor: pointer;
}

.figure {
	float: left;
	margin: 0 8px 8px 0;
}

.thumbnail {
  height: 150px;
  overflow: hidden;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  height: auto;
}

.fullscreen-image {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  	z-index: 10000;
}

.fullscreen-image img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.comment {
	float: left;
    clear: both;
    font-weight: bold;
    margin: 10px 0;
}

.download {
	float: left;
    clear: left;
    background-color: yellow;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: black;
    background-color: yellow;
    padding: 3px 5px;
    cursor: pointer;
    z-index: 100001;
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: 2px 2px rgb(0 0 0 / 25%);
}

span.close-button {
	display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
}

.spinner-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 9999;
}

#spinner-text {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  color: var(--modal-font-color);
  font-weight: bold;
  user-select: none;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinner > div {
  width: 40px;
  height: 40px;
  background-color: var(--modal-font-color);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
    -webkit-transform: scale(0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
